<% title "Suburb" %>

<p>
  <strong>Area:</strong>
  <%=h @suburb.area %>
</p>
<p>
  <strong>State:</strong>
  <%=h @suburb.state %>
</p>
<p>
  <strong>Postcode:</strong>
  <%=h @suburb.postcode %>
</p>

<p>
  <%= link_to "Edit", edit_suburb_path(@suburb) %> |
  <%= link_to "Destroy", @suburb, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", suburbs_path %>
</p>
