<div class ="full_container">
  <% form_for @user do |f| %>
    <%= f.error_messages %>
    <div class="line">
      <div class="field_20">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="line">
      <div class="field_20">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="line">
      <div class="field_20">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="line">
      <div class="field_20">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="line">
      <div class="field_20">
        <label></label>
        <%= f.submit "Submit" %>
      </div>
    </div>
  <%- end %>

</div>
