<div>
<div class="price">
  <%= number_to_currency(property.price) %>
</div>
<div class="bedroom_num">
  <%=h property.number_of_bedrooms %>
</div>
<div class="carpark_num">
  <%=h property.number_of_carparks %>
</div>
<div class="bathroom_num">
  <%=h property.number_of_bathrooms %>
</div>
  <div class="clear"></div>
</div>
  <!--p>
  <strong>Bond:</strong>
  <%=h property.bond %>
</p>
<p>
  <strong>Max Tenants:</strong>
  <%=h property.max_tenants %>
</p>
<p>
  <strong>Number Of Current Tenants:</strong>
  <%=h property.number_of_current_tenants %>
</p>
<p>
  <strong>Furnished:</strong>
  <%=h property.furnished %>
</p>
<p>
  <strong>Purpose:</strong>
  <%=h property.purpose %>
</p>
<p>
  <strong>Type:</strong>
  <%=h property.prop_type %>
</p-->