  <label>
    <span class="label">Number of Bedrooms</span>
    <span class="input"><%= property_form.text_field :number_of_bedrooms ,:class=>"text"%></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Number of Carparks</span>
    <span class="input"><%= property_form.text_field :number_of_carparks,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Number of Bathrooms</span>
    <span class="input"><%= property_form.text_field :number_of_bathrooms,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Price</span>
    <span class="input"><%= property_form.text_field :price,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Bond</span>
    <span class="input"><%= property_form.text_field :bond,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Maximum Tenants</span>
    <span class="input"><%= property_form.text_field :max_tenants,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label>
    <span class="label">Current Tenants</span>
    <span class="input"><%= property_form.text_field :number_of_current_tenants,:class=>"text" %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label class="hide">
    <span class="label">Furniture Included?</span>
    <span class="input"></span><%#= f.check_box :furnished,:class=>"text" %>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>
  <label class="hide">
    <span class="label">Property Type</span>
    <span class="input"><%= property_form.collection_select :prop_type, Property::TYPES, :to_s, :humanize %></span>
    <span class="hint"><span class="hint_icon" ></span></span>
  </label>