<% title "Properties" %>

<table>
  <tr>
    <th>Number Of Bedrooms</th>
    <th>Number Of Carparks</th>
    <th>Number Of Bathrooms</th>
    <th>Price</th>
    <th>Bond</th>
    <th>Max Tenants</th>
    <th>Number Of Current Tenants</th>
    <th>Furnished</th>
    <th>Purpose</th>
    <th>Type</th>
  </tr>
  <% for property in @properties %>
    <tr>
      <td><%=h property.number_of_bedrooms %></td>
      <td><%=h property.number_of_carparks %></td>
      <td><%=h property.number_of_bathrooms %></td>
      <td><%=h property.price %></td>
      <td><%=h property.bond %></td>
      <td><%=h property.max_tenants %></td>
      <td><%=h property.number_of_current_tenants %></td>
      <td><%=h property.furnished %></td>
      <td><%=h property.purpose %></td>
      <td><%=h property.type %></td>
      <td><%= link_to "Show", property %></td>
      <td><%= link_to "Edit", edit_property_path(property) %></td>
      <td><%= link_to "Destroy", property, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Property", new_property_path %></p>
