<%= f.error_messages %>
<fieldset id="Basic">
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
</fieldset>
<fieldset id="Advance">
  <p>
    <%= f.label :min_price %><br />
    <%= f.text_field :min_price %>
  </p>
  <p>
    <%= f.label :max_price %><br />
    <%= f.text_field :max_price %>
  </p>
  <p>
    <%= f.label :num_of_bedrooms %><br />
    <%= f.text_field :num_of_bedrooms %>
  </p>
  <p>
    <%= f.label :num_of_bathrooms %><br />
    <%= f.text_field :num_of_bathrooms %>
  </p>
  <p>
    <%= f.label :num_of_carparks %><br />
    <%= f.text_field :num_of_carparks %>
  </p>
  <p>
    <%= f.label :property_type %><br />
    <%= f.text_field :property_type %>
  </p>
</fieldset>
