<div class="container">
  <div class="form_line">
    <%= f.label :line1 %><br />
    <%= f.text_field :line1 %>
  </div>
  <div class="form_line">
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </div>
  <div class="form_line">
    <%= f.label :suburb %>
    <%= f.collection_select :suburb_id, Suburb.all, :id, :name, {:prompt => true} %>
  </div>
  <div class="form_line">
    <input type="text" name="address[post_id]" value="<%= @post.id %>"></input>
  </div>
</div>

