<p>
  <%= f.label :line1 %><br />
  <%= f.text_field :line1 %>
</p>
<p>
  <%= f.label :line2 %><br />
  <%= f.text_field :line2 %>
</p>
<p>
  <%= f.label :suburb %>
  <%= f.collection_select :suburb_id, Suburb.all, :id, :name, {:prompt => true} %>
</p>
<%=@post.id%>
<input type="text" name="address[post_id]" value="<%= @post.id %>"></input>
