<div class="container">
  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :building_name %>
      <%= f.text_field :building_name %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :suite_unit %>
      <%= f.text_field :suite_unit %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>


  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :street_number %>
      <%= f.text_field :street_number %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :street_name %>
      <%= f.text_field :street_name %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :town %>
      <%= f.text_field :town %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :state %>
      <%= f.text_field :state %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <%= f.label :state %>
      <%= f.text_field :state %>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>
  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <label for="post_id">post_id</label>
      <input type="text" name="address[post_id]" value="<%= @post.id %>"></input>
      <div class="display_field" style="background-color:#f2f2f1;width: 269px;height: 35px;float:left;"></div>
    </div>
  </div>

  <div class="form_line">
    <div class="post_content" style="margin-left:12%;width: 84%;">
      <label for=""></label>
      <%= submit_tag "Submit" %>
      
    </div>
  </div>
</div>

