<% title "Address" %>

<p>
  <strong>Line1:</strong>
  <%=h @address.line1 %>
</p>
<p>
  <strong>Line2:</strong>
  <%=h @address.line2 %>
</p>
<%unless @address.suburb.nil?%>
  <fieldset>
    <%= render :partial=>"suburbs/detail", :locals => {:suburb => @address.suburb}  %>
  </fieldset>
<% end %>
<p>
  <%= link_to "Edit", edit_address_path(@address) %> |
  <%= link_to "Destroy", @address, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", addresses_path %>
</p>
