<div class="post">
  <div class="top">
    <div class="address">
      <%= link_to "#{h post.address.to_s}", post_path(post) %>
    </div>
    <div class="collapse"><a>Collapse</a></div>
  </div>
  <div class="middle container">
    <div class="left">
      <%= render :partial => "/images/list", :locals => { :images => post.images, :size => :thumb } %>
    </div>
    <div class="abstract">
      <div class="postable">
        <% postable = post.postable %>
        <% unless postable.nil? %>
          <% dir_name = postable.class.table_name %>
          <% local = postable.class.class_name.downcase%>
          <%= render :partial => "/" + dir_name + "/abstract", :locals => { local.to_sym => postable } %>
        <% end %>
      </div>
      <div class="description">
        <%= h post.description %>
      </div>
    </div>
    <div class="user">

    </div>
    <% if current_user %>
      <%= link_to "Save" %>
    <% end %>
  </div>
</div>