<div class="post container">
  <div class="line top">
    <div class="address">
      <%#= post.address.to_s(:short) %>
    </div>
  </div>
  <div class="left half">
    <div class="images">
      <%= render :partial => "/images/list", :locals => { :images => post.images, :size => :medium } %>
    </div>
    <div id="googlemap">google map</div>
  </div>
  <div class="half">
    <div class="postable">
      <% property = post.property %>
      <% unless property.nil? %>
        <%= render :partial => "/properties/detail", :locals => { :property => property } %>
      <% end %>
    </div>
    <div class="title">
      <strong>Title:</strong>
      <%=h post.title %>
    </div>
    <div class="description">
      <strong>Description:</strong>
      <%=h post.description %>
    </div>
    <div class="available_date">
      <strong>Available From:</strong>
      <%=h post.available_from %>
    </div>
    <div class="expiry_date">
      <strong>Expiry Date:</strong>
      <%=h post.expiry_date %>
    </div>
    <div class="inspection_time">
      <strong>Inspection Time:</strong>
      <%=h post.inspection_time %>
    </div>
    <div>
      <strong>Negotiable:</strong>
      <%=h post.negotiable %>
    </div>
    <h4>Email Landlord/Agent</h4>
    <%= render :partial => "enqueries/form", :locals => {:post => @post} %>
  </div>
</div>

<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".address").each(function(index, address){
        $("#googlemap").show_address([$(address).text()]);
      });

      $('.slider').cycle({
        speed:  'fast',
        timeout: 0,
        next:   '.next2',
        prev:   '.prev2'
      });
    });
  </script>
<% end %>