<div class="postable">
  <% property = post.property %>
  <% unless property.nil? %>
    <%= render :partial => "/properties/abstract", :locals => { :property => property } %>
  <% end %>
</div>
<div class="title">
  <strong>Title:</strong>
  <%=h post.title %>
</div>
<div class="description">
  <strong>Description:</strong>
  <%=h post.description %>
</div>
<div class="available_date">
  <strong>Available From:</strong>
  <%=h post.available_from %>
</div>
<div class="expiry_date">
  <strong>Expiry Date:</strong>
  <%=h post.expiry_date %>
</div>
<div class="inspection_time">
  <strong>Inspection Time:</strong>
  <%=h post.inspection_time %>
</div>
<div>
  <strong>Negotiable:</strong>
  <%=h post.negotiable %>
</div>