<% title "Posts" %>

<% for post in @posts %>
  <%= render :partial => "abstract", :locals => { :post => post } %>
  <%= link_to "Show", post %>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<p><%= link_to "New Post", new_post_path %></p>
