<% title "Post" %>

<div id="search">
  <% form_for search do |f| %>
    <%= render :partial => "searches/form", :locals => { :f => f }%>
  <% end %>
  <div class="controller">
    <%= button_to "Back to List", "/searches/show"%>
    <%= button_to "Prev Property", prev_post_path(search.posts, post) %>
    <%= button_to "Next Property", next_post_path(search.posts, post) %>
  </div>
  <div class="post container">
    <div class="line top">
      <div class="address">
        <%= h post.address.to_s %>
      </div>
    </div>
    <div class="left half">
      <div class="images">
        <%= render :partial => "/images/list", :locals => { :images => post.images, :size => :medium } %>
      </div>
      <div id="googlemap">google map</div>
    </div>
    <div class="half">
      <%= render :partial => "detail", :locals => { :post => @post, :enquery => Enquery.new(@post)} %>
      <h1>Email Landlord/Agent</h1>
      <%= render :partial => "enqueries/form", :locals => {:post => @post} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".address").each(function(index, address){
    $("#googlemap").show_address([$(address).text()]);
  });
  
  $('.slider').cycle({
    speed:  'fast',
    timeout: 0,
    next:   '.next2',
    prev:   '.prev2'
  });
</script>