<% title "Post" %>

<div id="search">
  <% form_for search do |f| %>
    <%= render :partial => "searches/form", :locals => { :f => f }%>
  <% end %>
  <div class="controller">
    TODO: This is the controller
    <%= link_to "Back to List" %>
    <%= link_to "Prev Property" %>
    <%= link_to "Next Property" %>
  </div>
  <div class="post container">
    <div class="line top">
      <div class="address">
        <%= h post.address.to_s %>
      </div>
    </div>
    <div class="right half">
      <%= render :partial => "detail", :locals => { :post => @post} %>
    </div>
    <div class="half">
      <div class="images">
        <%= render :partial => "/images/list", :locals => { :images => post.images, :size => :medium } %>
      </div>
      <div id="googlemap">google map</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".address").each(function(index, address){
    $("#googlemap").show_address([$(address).text()]);
  });
  
  $('.slider').cycle({
    speed:  'fast',
    timeout: 0,
    next:   '.next2',
    prev:   '.prev2'
  });
</script>