<% title "Login" %>
<div class ="full_container">
  <% form_for @user_session do |f| %>
    <%= f.error_messages %>
    <div class="form_line">
      <div class="field_20">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="form_line">
      <div class="field_20">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>
    <%= link_to "forgot password", new_password_reset_path %>
    <p>
    </p>
    <div class="form_line">
      <div class="field_20">
        <%= f.submit "Submit" %>
      </div>
    </div>
  </div>
<% end %>


