<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Found Your Home</title>
    <meta name="keywords" content="" />
    <%= stylesheet_link_tag 'application', 'jquery-ui-1.7.2.custom' %>
    <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min' %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAYLuaqB7qMuVmZct0bNAhVRToMsSLBLYOIGCFpHF2BQfOB79_-BR2PDljF3gNcHkI6rzbMOOf_XFw1g" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
  </head> 
  <body id="body" onload="window.focus();">
    <div id="top_bar">
      <div class="inner">
        <div class="general_nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><%= link_to "Place An Ad", new_post_path %></li>
            <li><a href="#">Rental Guides</a></li>
          </ul>
        </div>
        <div class="member_nav">
          <ul>
            <% if current_user %>
              <li><a href="#">My Account</a></li>
              <li><%= link_to "Edit Profile", edit_user_path(:current) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><%= link_to "Register", new_user_path %></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id="page_body">
      <div id="header">
        <div id="logo"></div>
        <div class="text">
          <h1>Welcome!<br />You're new, aren't you?</h1>
          <h2>FOUND YOUR HOME is a respectful community of young people who look for their next home. We provide the best tools and resource to help you to find your next stay.</h2>
          <h3>Go ahead, start looking...</h3>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <ul>
          <li><a href="#">Agent Admin</a></li>
          <li><a href="#">Sign up Your Agency</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Search Real Estate Agents</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Advertising</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>

